.dropdown {
    /* margin-top: 10vh; */
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #204276db;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    list-style-type: none;
    padding: 0;
  }
  
  .dropdown-menu li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f4ecb8;
    color:black;
  }

  .dropdown-menu.open {
    display: block;
  }

  .open {
    display: block;
    position: relative;
    z-index:2;
  }