.close-button {
    background-color: #d34040;
    color: black;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    top: 10px;
    left: 30vh;
  }